---
const { data } = Astro.props
const MONTHS:string[] = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
let VIEWS:number[] = [ 0,0,0,  0,0,0,  0,0,0,  0,0,0 ]

for( let i=0; i<VIEWS.length; i++)
    VIEWS[i] = (data && (i < MONTHS.length)) ? (Object.prototype.toString.call(data[i]==='[object Number]'))? data[i] : 0 : 0

// get current month
const index = new Date().getMonth()
const currMonth = MONTHS[index]
const currMonthViews = VIEWS[index]

// remove curr month from full list
MONTHS.splice(index,1)
VIEWS.splice(index,1)

// sort month list 
let sortedList:object[] = [], noViewsList:object[] = []
for( let i=0; i<VIEWS.length; i++ ) {
    const month = MONTHS[i]
    if(VIEWS[i]!==0)
        sortedList.push([month,VIEWS[i]])
    else
        noViewsList.push([month,VIEWS[i]])
}
sortedList = [ ...sortedList, ...noViewsList ]

// console.table(sortedList)

---
<div class="flex items-center justify-start">
    <div class="pr-[6px] md:pr-2 flex justify-start gap-[10px] items-center border-r-[1px] border-[#63636330]">
        <span class="hidden md:block">Views</span>
        <span class="py-2 px-4 bg-[#0007] border-[1px] border-[#f6737330] whitespace-nowrap rounded-lg hover:text-[#f67373] hover:bg-[#f6737311] transition-colors cursor-default duration-300">{currMonth}: {currMonthViews}</span>
    </div>

    <div class="relative overflow-x-scroll pl-[6px] md:pl-2 flex gap-2 md:gap-3 items-center justify-start scrollbar-hide">
        { VIEWS.map((view,index) => ( <span class="py-2 px-4 bg-[#0007] whitespace-nowrap rounded-lg hover:text-[#f67373] hover:bg-[#f6737311] transition-colors cursor-default duration-300">{MONTHS[index]}: {view}</span> )) }
    </div>
</div>
