---
import MainLayout from '../layouts/Layout.astro'
import SiteList from '../components/SiteList.astro'
import StatsBox from '../components/StatsBox.astro'
import { maxContentSpace } from '../constants/constants'

---

<MainLayout title="Welcome to Astro.">
	<main class={`px-4 md:px-8 ${maxContentSpace} overflow-hidden flex flex-col gap-5 md:pt-4 md:gap-6 md:flex-row items-stretch justify-start md:justify-stretch w-full h-full relative`} >
		<SiteList/>
		<StatsBox/>
	</main>
</MainLayout>
