---
import { maxContentSpace } from "../constants/constants"

---
<footer class="">
    <section class={`mt-9 flex flex-col md:flex-row gap-1 md:gap-2 md:items-center justify-center items-start md:justify-between px-4 md:px-8 py-3 md:mb-7 text-lg ${maxContentSpace}`}>
        <div class="w-full">
            <!-- title -->
            <div class="flex gap-2 items-center justify-center md:justify-start w-full"> 
                <img src="kushalkumar_footer_dark.svg" alt=""> 
                <span class="tracking-wide">Kushal Kumar</span> 
            </div>

            <!-- mobile links -->
            <span class="flex md:hidden mt-3 gap-5 items-center justify-center *:text-xs">
                <a href="https://github.com/bcd-kushal/" target="_blank" class="hover:text-[#f67373] duration-300 transition-colors">GitHub</a>
                <a href="https://linkedin.com/in/dev-kushal/" target="_blank" class="hover:text-[#f67373] duration-300 transition-colors">LinkedIn</a>
                <a href="https://kushalkumarsaha.com/" target="_blank" class="hover:text-[#f67373] duration-300 transition-colors">Official</a>
                <a href="https://blogs.kushalkumarsaha.com/" target="_blank" class="hover:text-[#f67373] duration-300 transition-colors">Blogs</a>
                <a href="https://portfolio.kushalkumarsaha.com/" target="_blank" class="hover:text-[#f67373] duration-300 transition-colors">Portfolio</a>
            </span>

            <!-- credits -->
            <div class="text-[9.2px] mt-5 sm:mt-2 mb-1 sm:text-[11px] italic text-[#ffffff81] transition-colors duration-300 hover:text-[#fff9] cursor-default group/credits text-center md:text-left sm:w-fit">Designed and created by <a href="https://github.com/bcd-kushal/" target="_blank" class="group-hover/credits:text-[#f67373] italic text-[#ffffff81] duration-300 hover:underline">Kushal Kumar</a> | All rights reserved</div>
        </div>

    </section>
</footer>