---
import { SITES_LIST } from "../constants/data/data"
export interface SiteProps { name:string, subtitle:string, targetClassIndex:string }
type SitesProps = SiteProps[]

// ALL SITES HERE ---------------------------------
const sites:SitesProps = SITES_LIST


---
<aside class="main group/list scrollbar-hide flex md:flex-col md:w-[220px] gap-2 items-center md:items-stretch justify-start overflow-x-scroll md:overflow-x-auto md:overflow-y-scroll *:px-4 *:py-3 *:font-semibold *:rounded-lg *:flex *:w-full *:items-center *:justify-between *:duration-200 *:cursor-pointer *:tracking-wide">
    { sites.map((site,index) => (
        <div class="group/asideTag site-tab hover:bg-[#6f6f6f35] transition-all duration-300" data-target-info={site.targetClassIndex}>
            <span class=" flex flex-col items-start justify-center transition-all duration-300">
                <span class="group-hover/asideTag:text-[#f09393] transition-all duration-200 whitespace-nowrap site-name">{site.name}</span>
            </span>
            <span class="transition-all -translate-x-2 opacity-0 group-hover/asideTag:opacity-100 group-hover/asideTag:translate-x-0 "><img src="chevron_right.svg" alt=""/></span>
        </div>
    )) }
</aside>

<style>
    .active-aside{ 
        background: #f6737365;
    }
    .active-aside span:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
    }
</style>

<script>

    // SWITCH BETWEEN TABS ---------------------------------------------------------------
    let prevActiveAside = document.querySelectorAll(".site-tab")[0]
    let prevActiveStatsBox = document.querySelectorAll(".stats-box")[0]

    if(!prevActiveAside.classList.contains("active-aside"))
        prevActiveAside.classList.add("active-aside")
    if(prevActiveStatsBox.getAttribute("data-active")==="false"){
        (prevActiveStatsBox as HTMLElement).style.display = "flex"
        prevActiveStatsBox.setAttribute("data-active","true")
    }


    document.querySelectorAll(".site-tab").forEach(el => el.addEventListener('click', (e) => { 
        const site = el.querySelector(".site-name")
        el.classList.contains("active-aside") ? "" : el.classList.add("active-aside")
        prevActiveAside.classList.contains("active-aside") ? prevActiveAside.classList.remove("active-aside") : ""
        prevActiveAside = el




        // STATS BOX SWITCH ---------------------------------------------------------------
        const getTargetStatsBoxElement = (target:string) => {
            const allBoxes = document.querySelectorAll(".stats-box")
            for(let i=0;i<allBoxes.length;i++) {
                if((allBoxes[i] as HTMLElement).getAttribute("data-site")===target)
                    return allBoxes[i]
            }
        }
        const targetBoxDataValue = site.textContent.toLowerCase()
        const targetStatsBox = getTargetStatsBoxElement(targetBoxDataValue)
        targetStatsBox.setAttribute("data-active","true");
        prevActiveStatsBox.setAttribute("data-active","false");
        (targetStatsBox as HTMLElement).style.display = "flex";
        (prevActiveStatsBox as HTMLElement).style.display = "none";
        prevActiveStatsBox = targetStatsBox

    }))



    
</script>